*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

.home
{
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding: 1.5em;
    background-image: url("Images/1569494009002.jpeg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.image
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.image img
{
    width: 40px;
}

.image img:nth-of-type(even)
{
    width: 85px;
    height: 40px;
}
.nav_bar
{
    position: relative;
}

.nav_bar img
{
    width: 30px;
}

.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav_bar ul
{
    display: none;
    list-style-type: none;
    position: absolute;
    right: 0;
    padding: 0.2em;
    backdrop-filter: blur(20px);
}

.nav_bar ul li
{
    padding: 0.5em;
}

.nav_bar ul a
{
    text-decoration: none;
    color: white;
    font-size: 0.8em;
}
.Speaker{
    display: flex;
    flex-direction: column;
}


@media (max-width: 700px)
{
    .nav_bar:hover ul
    {
        display: block;
    }
}

.showcase
{
    margin-top: 4em;
    width: 100%;
}

.showcase .sub_topic p
{
    color: white;
    font-size: 0.6em;
    width: 80%;
    line-height: 1.7;
    margin-bottom: 1.2em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.showcase .topic p
{
    color: white;
    font-size: 1.5em;
    font-weight: bold;
} 

.showcase .topic p:nth-of-type(1)
{
    font-size: 1.7em;
    margin-bottom: 0.2em;
    color: rgb(135,206,250);
}


.related_topics
{
    padding: 0.5em;
    margin-top: 5em;
    backdrop-filter: blur(50px);
    border-radius: 1em;
}

.related_topics p
{
    color: rgb(135,206,250);
    font-weight: bold;
    font-size: 1.2em;
}


.related_topics ul
{
    padding-left: 1.6em;
    margin-top: 0.5em;
}

.related_topics li
{
    color: white;
    font-size: 0.8em;
    opacity: 0.8;
    margin-bottom: 0.5em;
}

.date_time
{
    padding: 0.5em;
    margin-top: 4em;
    backdrop-filter: blur(50px);
    border-radius: 1em;
}

.date_time p
{
    margin: 1em 0 1em 0;
    color: white;
    font-size: 0.8em;
}

.date_time p i
{
    margin-right: 1.5em;
}

.Who_To_Attend_And_Requirement
{
    width: 100%;
    min-height: 60vh;
    margin: auto;
    margin-top: 3em;
    padding: 2em;
    background-image: url("Images/data-science-overview.png");
    background-position: bottom right;
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-blend-mode: saturation;
}

.Who_to_Attend, .Requirement
{
    margin-bottom: 4em;
}

.Who_to_Attend>p, .Requirement>p
{
    font-weight: bold;
    font-size: 2em;
    color: rgb(135,206,250);
}

.Who_to_Attend section, .Requirement section
{
    margin-top: 1em;
    font-weight: 500;
}

.Who_to_Attend section p, .Requirement section p
{
    margin-bottom: 1.7em;
}

.Who_to_Attend section i, .Requirement section i
{
    margin-right: 0.5em;
}

/* .Speakers{
    background-image: url("/Data_Science_School/Assets/Images/3853138.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 12em;
    padding-right: 11em;
}
.speakers-section{
    width: 100%;
}
.speakers-section img{
    width: 20%;
    height: 250px;
    filter: opacity(70%);
    filter: brightness(70%);
}
.top{
    margin-bottom: 2rem;
}
.top h1{
    width: 25%;
    color: white;
    font-size: 50px;
}
.top h3{
    color: rgb(135,206,250);
    margin-bottom: 1.4rem;
}
.top h2{
    font-size: 60px;
    font-family: 'Raleway Dots', cursive;
    color: rgb(135,206,250);
}
.top div{
    display: flex;
    justify-content: space-between;
}
#arrow{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50em;
    left: 108em;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    display: none;
}
#arrow img{
    width: 70%;
}
.others{
    display: flex;
    flex-direction: column;
    width: 100%;
    display: none;
}
.top-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 3rem;
}
.top-2 h2{
    font-size: 30px;
    font-weight: 500;
    color: white;
    margin-bottom: 2rem;
}
.bottom-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
.bottom-2 div{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
.bottom-2 div img{
    width: 20%;
}
.bottom-2 div h3{
    font-size: 20px;
    font-weight: 500;
    color: black;
}
.bottom-2 div p{
    color: hsl(233, 8%, 62%);
    font-size: 16px;
    line-height: 2rem;
    width: 78%;
}
.online{
    background: white;
} */

/* Mini Tablet View */
@media (min-width: 701px)
{
    .nav_bar img
    {
        display: none;
    }

    .nav_bar ul
    {
        display: flex;
        justify-content: space-between;
        top: -26px;
        backdrop-filter: blur(30px);
    }

    .nav_bar ul li
    {
        padding: 0.6em;
        margin-left: 1em;
    }

    .nav_bar ul li:nth-of-type(4)
    {
        border: 3px solid rgb(135,206,250);
        margin-left: 3em;
        border-radius: 1.2em;
        padding: 0.7em;
    }

    .nav_bar ul li:nth-of-type(1):hover, .nav_bar ul li:nth-of-type(2):hover, .nav_bar ul li:nth-of-type(3):hover
    {
        border-bottom: 2px solid rgb(135,206,250);
    }

    .nav_bar ul li:nth-of-type(1) a, .nav_bar ul li:nth-of-type(2) a, .nav_bar ul li:nth-of-type(3) a
    {
        color: rgb(135,206,250);
    }

    .image img
    {
        width: 60px;
    }

    .image img:nth-of-type(even)
    {
        width: 120px;
        height: 60px;
    }

    .header
    {
        width: 75%;
        margin: auto;
    }

    .showcase
    {
        width: 75%;
        margin: auto;
        margin-top: 7em;
    }


    .Who_To_Attend_And_Requirement
    {
        width: 75%;
        margin: auto;
    }

}

/*  */
@media (min-width: 1000px)
{
    .header
    {
        width: 80%;
        margin: auto;
    }

    .showcase
    {
        width: 80%;
        margin: auto;
        margin-top: 7em;
    }


    .Who_To_Attend_And_Requirement
    {
        width: 80%;
        margin: auto;
    }
}

@media (min-width: 1200px)
{
    .image img:nth-of-type(2)
    {
        position: absolute;
        right: 0;
        z-index: 2;
    }

    .nav_bar ul
    {
        right: 20em;
    }

    .header
    {
        width: 80%;
        margin: auto;
    }

    .showcase
    {
        width: 80%;
        margin: auto;
        margin-top: 7em;
    }

    .related_topics
    {
        padding: 2em;
        position: absolute;
        bottom: 0.5em;
        left: 10em;
    }

    .date_time
    {
        padding: 2em;
        position: absolute;
        bottom: 0.5em;
        right: 10em;
    }

    .showcase .sub_topic
    {
        padding-right: 20em;
        font-size: 1.5em;
    }

    .showcase .topic P:nth-of-type(1)
    {
        font-size: 4em;
    }

    .showcase .topic p:nth-of-type(2)
    {
        font-size: 2em;
    }

    .Who_To_Attend_And_Requirement
    {
        width: 80%;
        margin: auto;
    }
}

@media (min-width: 1555px)
{
    .nav_bar ul
    {
        right: 28em;
    }

    .Who_To_Attend_And_Requirement
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .Who_to_Attend, .Requirement
    {
        margin-bottom: 0;
    }

    .Requirement section
    {
        margin-top: 2em;
    }

    .Who_to_Attend section p, .Requirement section p
    {
        margin-bottom: 2.5em;
    }
}

